.card{margin-left: 5%;
height: max-content;
display: block;
text-align: center;
align-items: center;
justify-content: center;
width: 15rem;
color: white;
border: whitesmoke;
background-color: #202d65;
border-radius: 15px;
font-weight: 400;
padding: 10px 5px 30px 5px;
img{
    width: 20px;
    height: 20px;
    color: white;
}
}