
.container{
    top:0;
    // background-color: #171A3B;
    background-color: #11153a;
    color: #7b70e5;
   
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  
}
.lft-side{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    left: 0;
    width: 40%; font-size: larger;
    padding-left: 2%;
}

.rght-side{
    font-size: smaller;
    width: 60%;
    display: flex;
    position: relative;
    right: 0;
    color: white;
    justify-content: space-around;
    float:right;
    a{
        color: #fff;;
        text-decoration: none;
        text-align: center;
        align-items: center;
    }
    input{
        text-align: center;
        border: solid 5px white;
        border-radius: 15px;
    }
   
}
