.card{
    margin-left: 5%;
    height: max-content;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 15rem;
    color: white;
    background-image: linear-gradient(to left,#305FEC,#517af7);
    border-radius: 15px;
    font-weight: 400;
    padding: 10px 5px 30px 5px;
    img{
        width: 20px;
        height: 20px;
        color: white;
    }

}



.btn-on{
    text-align: center;
    background-color: greenyellow;
    border: none;
    cursor: pointer;
}
.btn-off{
    text-align: center;
    background-color: rgb(255, 92, 47);
    border: none;
    cursor: pointer;
}