.card{
    margin-left: 5%;
    height: 180px;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 10%;
    color: white;
    background-color: rgba(0, 0, 139, 0.763);
}

.btn-on{
    text-align: center;
    background-color: greenyellow;
    border: none;
    cursor: pointer;
}
.btn-off{
    text-align: center;
    background-color: rgb(255, 92, 47);
    border: none;
    cursor: pointer;
}